<h1>Dashboard</h1>

<div class="row">
  <div class="col-sm-1">

  </div>
  <div class="col-sm-5">
    {{charts/line-chart}}

  </div>

  <div class="col-sm-5">
    {{charts/pie-chart}}
  </div>
  <div class="col-sm-1">

  </div>

</div>
<div class="row mt-5 justify-content-center align-items-center">

  {{charts/scatter-plot}}


</div>